<header>
    <div class="padder">
        <nav>
            <ul>
                <li style="margin-right: auto"><a class="tripnau" routerLink="/" routerLinkActive="active"
                        ariaCurrentWhenActive="page">TripNau</a></li>
                <li><button class="my-button">Language</button></li>
                @if(!authService.isAuthenticated()) {
                    <span class="header-buttons">
                        <li><a class="register" routerLink="/register" routerLinkActive="active"
                                ariaCurrentWhenActive="page">Register</a>
                        </li>
                        <li>
                            <a class="login" routerLink="/login" routerLinkActive="active"
                                ariaCurrentWhenActive="page">Login</a>
                        </li>
                    </span>
                }  @else {
                <span>
                    <li><a class="user" routerLink="/user" routerLinkActive="active"
                        ariaCurrentWhenActive="page">User</a></li>
                </span>
                }
            </ul>
        </nav>
    </div>
</header>